<!DOCTYPE html>
<html>
<head>
  <style>
    footer {
      background-color: black;
      color: white;
      padding: 100px;
      text-align: center;
    }
  </style>
</head>
<body>
  
  <!-- Contenido de la página -->
  
  <footer>
  </footer>
</body>
</html>
